.ava {
  margin:  5px 13px;
  border-radius: 15px;
    grid-area: a;
    background-color: #c4c9ef;
}
.avaLogin {
  display: flex;
  justify-content: center;
  margin: 50px 0 30px;
  font-size: 25px;
}
