.nav {
    grid-area: n;
    background-color: #3a420f;
    padding-top: 20px;
    margin: 5px;
    border-radius: 15px;
}

.item  {
    color: whitesmoke;
    text-decoration: none;
    padding-left: 20px;
    padding-bottom: 20px;
}

.itemText {
    color: whitesmoke;
    text-decoration: none;
    font-size: 25px;
}

.active  {
    color: gold;
}

.sidebar h2 {
    margin-left: 20px;
    margin-top: 100px;
    font-size: 30px;
    width: 102px;

}

.sidebar a{
    color: whitesmoke;
    text-decoration: none;
}