.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    /*width: 100%;*/
    background-color: #8098f6;
    font-family: Raleway,sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    /*color: grey;*/
    font-weight: bold;
}