.dialogs {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}
.dialogBlock {
    display: flex;
}
.dia {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 30px;

}

.dialogItems  {
    display: flex;
    color: black;
    /*padding: 0px 40px 0px 10px;*/
    font-family: Raleway,sans-serif;
    font-size: 20px;
}

.dialogItems .text {
    text-decoration: none;
    color: black;
}

.dialogItems  img{
    height: 50px;
    width: 50px;
    border-radius: 25px;
}
.dialogsItem .active {
    color: gold;
}
.messages {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*padding: 0px 40px 0px 10px;*/
    color: black;
    font-family: Raleway,sans-serif;
    font-size: 20px;
    align-items: flex-start;
}

.addMessage {
    font-family: Raleway,sans-serif;
    font-size: 20px;
    padding: 24px 20px 30px 30px;
}